
<div id="Login">
    <input type="text" value="Username" name="Username"/>
    <input type="submit" value="Login"/>
</div>

<div>
    <ul id="chatroom"></ul>
</div>
<div>
    <input type="text" id="textbox"/>
    <input type="button" id="sendButton"/>
</div>

<script src="../../Scripts/jquery-2.1.1.js" type="text/javascript"></script>
<script src="../../Scripts/jquery.signalR-2.1.2.js"></script>
<script src="http://localhost:57966/signalr/hubs"></script>

<script type="text/javascript">

    var chat;

    $(function () {

        chat = $.connection.chat;
        $.connection.hub.start();

        $('#sendButton').click(sendMessage);
        chat.client.newMessage = onNewMessage;
    });

    function sendMessage() {
        chat.server.sendMessage($('#textbox').val());
    }
    function onNewMessage(message) {
        $('#chatroom').append('<li>' + message + '</li>');
    }


</script>